.full-width {
  width: 100%;
}

.mat-card.login-card {
  min-width: 120px;
  max-width: 33%;
  margin: 10% auto;
  /* background-color: #cfb9f5; */
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
